---
import { makeUrl } from "../../scripts/url";
import Contributers from "../Contributers.astro";
import CourseImage from "./CourseImage.astro";
import CourseSummaryAddToBasket from "../basket/CourseSummaryAddToBasket";
const { course } = Astro.props;

const price = course.price;
const title = course.title;
const summary = course.description;
---

<div class="card card-courses">
  <h2>
    <a href=`/courses/${makeUrl(title)}`>{title}</a>
  </h2>

  <div class="card-image">
    <CourseImage course={course} />
  </div>

  <div class="card-details">
    <Contributers people={course.meta?.contributers} />
    <!--<span class="duration"> {course.meta?.runningTime} </span>-->
    <span class="cost">{price.replace("GBP", "")}</span>
  </div>

  <p>
    {summary}
  </p>

  <!--<div class="card-meta">-->
  <!--  <Contributers people={course.meta?.contributers} />-->
  <!--  <Tags tags={course.meta?.tags} />-->
  <!--</div>-->

  <div class="card-buttons">
    <a href=`/courses/${makeUrl(title)}`> Learn More </a>
    <CourseSummaryAddToBasket offerId={course.offerId} client:load />
  </div>
</div>
