---
import { makeUrl } from "../../scripts/url";
import Contributers from "../Contributers.astro";
import CourseImage from "./CourseImage.astro";
import { DiscountedPrice } from "../basket/DiscountedPrice";
import CourseSummaryAddToBasket from "../basket/CourseSummaryAddToBasket";
import type { CourseCard } from "../../content/config";
import '../../styles/components/card.scss';

interface Props {
  course: CourseCard;
}

const { course } = Astro.props;

const title = course.title;
const summary = course.description;
const offerId = course.offerId!;
const priceInPence = course.priceInPence!;
---

<div class="cardBeta card-courses">
  <h2>
    <a href=`/courses/${makeUrl(title)}`>{title}</a>
  </h2>

  <div class="card-imageBeta">
    <CourseImage course={course} />
  </div>

  <div class="card-detailsBeta">
    <Contributers people={course.meta?.contributers} />
    <!--<span class="duration"> {course.meta?.runningTime} </span>-->
    <span class="cost">
      <DiscountedPrice
        offerId={offerId}
        priceInPence={course.priceInPence!}
        client:load
      />
    </span>
  </div>

  <p>
    {summary}
  </p>

  <!--<div class="card-meta">-->
  <!--  <Contributers people={course.meta?.contributers} />-->
  <!--  <Tags tags={course.meta?.tags} />-->
  <!--</div>-->

  <div class="card-buttonsBeta">
    <a href=`/courses/${makeUrl(title)}`> Learn More </a>
    <CourseSummaryAddToBasket offerId={offerId} client:load />
  </div>
</div>
<style>
      h2 {
        border-color: #8ebaaa;
        padding-right:60px
    }
    .card-buttonsBeta a:first-child {
    border-radius: 0 0 0 16px;
    border-right: 1px solid #fff;
}
:global(.cardBeta .card-buttonsBeta button.add-to-basket-from-summary:first-of-type) {
  border-radius: 0 0 0 16px;
}
:global(.cardBeta .card-buttonsBeta button.add-to-basket-from-summary:last-of-type) {
  border-radius: 0 0 16px 0;
}
</style>
