---
import Contributers from "../Contributers.astro";
import CourseSummary from "./CourseSummaryV3.astro";
import Tags from "../Tags.astro";
import { getCourseFromTitle, parseDescriptions } from "../../scripts/courses";
import CourseImage from "./CourseImage.astro";
import Vimeo from "../Vimeo.astro";
import CourseDetailsAddToBasket from "../basket/CourseDetailsAddToBasket";
import type { CourseCard } from "../../content/config";
import "../../styles/components/details.scss";
import "../../styles/components/card.scss";

interface Props {
  course: CourseCard;
}

const { course } = Astro.props;

const priceInPence = course.priceInPence!;
const checkoutURL = course.checkoutUrl;
const title = course.title;
const descriptions = course.checkout?.descriptions;
const testimonials = course.checkout?.testimonials;

const relatedTitles = course.meta?.relatedTitles || [];

// console.log("COURSE: " + JSON.stringify(course));

// Get related courses
// Filter out possible undefined courses after promises are resolved.
// This happens if the course title in courseMeta is not found in the course cards content
// Cause: the course hasn't been published on Kajabi or hasn't been crawled
const relatedCourses = (
  await Promise.all(relatedTitles.map((title) => getCourseFromTitle(title)))
).filter((c) => c);

// console.log("RELATED COURSES: " + JSON.stringify(relatedCourses));
---

<div class="details details-courses">
  <div class="details-category">RECORDED COURSE</div>
  <h1>{title}</h1>

  <div class="details-body">
    <div class="details-intro">
      <div
        class="details-copy"
        set:html={parseDescriptions(descriptions!)}
      /><Vimeo embedUrl={course.meta?.videoUrl} />
    </div>
    <!-- <div class="details-body-A" set:html={parseDescriptions(descriptions!)}> -->
    <!-- <div class="details-body-A">
     
    </div> -->

    <div class="details-body-B">
      <div class="purchase-wrapper">
        <div class="purchase-title">
          <!--<div class="card-details">-->
          <!--  <span class="duration"> {course.meta?.runningTime} </span>-->
          <!--  <span class="globe"> Watch Online </span>-->
          <!--</div>-->
        </div>

        <CourseDetailsAddToBasket
          offerId={course.offerId!}
          priceInPence={priceInPence}
          client:load
        />
      </div>
      <div class="card-meta details-meta">
        <Contributers people={course.meta?.contributers} />
        <Tags tags={course.meta?.tags} />
      </div>
      <div class="details-image">
        <CourseImage course={course} />
      </div>
    </div>
  </div>
</div>

{
  relatedCourses && (
    <h2 class="section-title">
      <span class="courses-section-title">Related Coursess</span>
    </h2>
  )
}
<div class="courses-grid">
  {
    relatedCourses &&
      relatedCourses.map((related) => <CourseSummary course={related!.data} />)
  }
</div>
<style lang="scss">
  .card {
    z-index: -1;
  }
</style>
