---
import { makeUrl } from "../../scripts/url";
import Contributers from "../Contributers.astro";
import CourseSummary from "./CourseSummary.astro";
import Tags from "../Tags.astro";
import { getCourseFromTitle, parseDescriptions } from "../../scripts/courses";
import { getCourseMetaFromTitle } from "../../scripts/courseMeta";
import CourseImage from "./CourseImage.astro";
import Vimeo from "../Vimeo.astro";

const { course } = Astro.props;

const price = course.price;
const checkoutURL = course.checkoutUrl;
const title = course.title;
const descriptions = course.checkout?.descriptions;
const testimonials = course.checkout?.testimonials;

const meta = getCourseMetaFromTitle(title);

const relatedTitles = meta?.relatedTitles || [];
const relatedCourses = await Promise.all(
  relatedTitles.map((title) => getCourseFromTitle(title))
);

// console.log("RELATED COURSES: " + JSON.stringify(relatedCourses));
---

<div class="card card-courses">
  <h2>
    <a href=`/courses/${makeUrl(title)}`>{title}</a>
  </h2>

  <CourseImage course={course} />

  <Vimeo embedUrl={meta?.videoUrl} />

  <div class="card-details">
    <a href="#" class="card-type-course"> RECORDED COURSE </a>
    <span> {meta?.runningTime}, {price} </span>
  </div>

  <div set:html={parseDescriptions(descriptions)} />

  <h3>Testimonials</h3>
  {testimonials.map((testimonial) => <p>{testimonial}</p>)}

  <div class="card-meta">
    <Contributers people={meta?.contributers} />
    <Tags tags={meta?.tags} />
  </div>

  <div class="card-buttons">
    <a href={checkoutURL}> Purchase </a>
  </div>
</div>

<div>Related</div>

{
  relatedCourses &&
    relatedCourses.map((related) => <CourseSummary course={related.data} />)
}
