---
import { makeUrl } from "../../scripts/url";
import Contributers from "../Contributers.astro";
import Tags from "../Tags.astro";
import { getCourseMetaFromTitle } from "../../scripts/courseMeta";
import CourseImage from "./CourseImage.astro";

const { course } = Astro.props;

const price = course.price;
const checkoutURL = course.checkoutUrl;
const title = course.title;
const summary = course.description;

const meta = getCourseMetaFromTitle(title);
---

<div class="card card-courses">
  <h2>
    <a href=`/courses/${makeUrl(title)}`>{title}</a>
  </h2>

  <!-- <div class="card-image">
    <img
      srcset="imgs/example-image-620.jpg 620w, imgs/example-image-1016.jpg 1016w, imgs/example-image-2176.jpg 2176w"
      sizes="(min-width: 1185px) 508px, (min-width: 780px) 728px, 100vw"
      src="imgs/example-image-620.jpg"
      alt="an image description for the visually impaired, also helps SEO"
      loading="lazy"
    />
  </div> -->

  <CourseImage course={course} />

  <div class="card-details">
    <a href="/courses" class="card-type-course"> RECORDED COURSE </a>
    <span class="duration"> {meta?.runningTime} </span>
    <span class="cost"> {price} </span>
  </div>

  <p>
    {summary}
  </p>

  <div class="card-meta">
    <Contributers people={meta?.contributers} />
    <Tags tags={meta?.tags} />
  </div>

  <div class="card-buttons">
    <a href=`/courses/${makeUrl(title)}`> Learn More </a>
    <a href={checkoutURL}> Buy Now </a>
  </div>
</div>
