---
import { makeUrl } from "../../scripts/url";
import Contributers from "../Contributers.astro";
import CourseImage from "./CourseImage.astro";
import { DiscountedPrice } from "../basket/DiscountedPrice";
import CourseSummaryAddToBasket from "../basket/CourseSummaryAddToBasket";
import type { CourseCard } from "../../content/config";

interface Props {
  course: CourseCard;
}

const { course } = Astro.props;

const title = course.title;
const summary = course.description;
const offerId = course.offerId!;
const priceInPence = course.priceInPence!;
---

<div class="card card-courses">
  <h2>
    <a href=`/courses/${makeUrl(title)}`>{title}</a>
  </h2>

  <div class="card-image">
    <CourseImage course={course} />
  </div>

  <div class="card-details">
    <Contributers people={course.meta?.contributers} />
    <!--<span class="duration"> {course.meta?.runningTime} </span>-->
    <span class="cost">
      <DiscountedPrice
        offerId={offerId}
        priceInPence={course.priceInPence!}
        client:load
      />
    </span>
  </div>

  <p>
    {summary}
  </p>

  <!--<div class="card-meta">-->
  <!--  <Contributers people={course.meta?.contributers} />-->
  <!--  <Tags tags={course.meta?.tags} />-->
  <!--</div>-->

  <div class="card-buttons">
    <a href=`/courses/${makeUrl(title)}`> Learn More </a>
    <CourseSummaryAddToBasket offerId={offerId} client:load />
  </div>
</div>
