---
import "../../styles/components/card.scss";

const { episode, hideDate = false } = Astro.props;
const { title, subtitle, pubDate, description, audioUrl, imageUrl, duration, url } = episode;
---

<div class="card card-podcast">
  {
    !hideDate && (
      <div class="live-date">
        <span class="live-day">{pubDate.day}</span>
        <span class="live-month">{pubDate.month}</span>
      </div>
    )
  }

  <div class="card-image">
    <img
      src={imageUrl}
      alt={title}
      class="white-panel-image"
      loading="lazy"
      decoding="async"
    />

  </div>

  <h3>
    {title}
    {subtitle && <span>{subtitle}</span>}
  </h3>

  <div class="podcast-description" set:html={episode.description} />

  {duration && <p class="podcast-duration">⏱ {duration}</p>}

  <div class="card-actions">
    <a class="btn btn-learn" href={url} target="_blank" rel="noopener">
      Listen on Substack
    </a>
  </div>
</div>

<style>
    .podcast-description :global(p:empty) {
        display: none;
    }
</style>

<style is:global>
    .card.card-podcast h3 {
        font-family: Oswald;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-top: 10px !important;
        min-height: 0 !important;
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--brand-primary);
        line-height: 1.2;
    }
</style>