---
import getWebinars from "../../scripts/webinars";
const { active } = Astro.props;
const webinars = await getWebinars();
---

<!-- Awaiting prop assignment ahead of full-component rendering -->
<li class="has-dropdown">
  <a
    href="/webinars"
    class={`desktop-item  ${active === "webinars" ? "active" : "inactive"}`}
  >
    Live Webinars
  </a>
  <input type="checkbox" id="showDrop-webinars" />
  <label
    for="showDrop-webinars"
    class={`nav-dropdown mobile-item ${active === "webinars" ? "active" : "inactive"}`}
  >
    Live Webinars
  </label>
  <ul class="drop-menu webinar-dropdown">
    <li class="desktop-item"><h5>Coming Up Soon</h5></li>
    <li>
      <ul class="webinars-list">



        {webinars.map((webinar, index) => (
          <li>
            <div class="webinar-card">
              <div class="webinar-img-wrapper desktop-item">
                <img
                  loading="lazy"
                  src={webinar.logoUrl}
                  alt={`Webinar ${webinar.title}`}
                />
              </div>
              <div class="webinar-content">
                <h5>{webinar.title}</h5>
                <p> {`${webinar.displayDate.weekday} ${webinar.displayDate.day} ${webinar.displayDate.month}`}
                  {`${webinar.displayDate.startTime}`} - {`${webinar.displayDate.endTime}`}</p>
                <a href={`/webinars/${webinar.id}`}
                ><img
                  src="/images/icons/icon-chev-right.svg"
                  alt="Read more"
                /></a
                >
              </div>
              <div class="webinar-link mobile-item">
                <a href="#"
                ><img
                  src="/images/icons/icon-chev-right.svg"
                  alt="Read more"
                /></a
                >
              </div>
            </div>
          </li>
        ))}


      </ul>
      <li>
        <a
          href="/webinars"
          class={`category-home-link ${active === "webinars" ? "active" : "inactive"}`}
        >
          View all Webinars
        </a>
      </li>
    </li>
  </ul>
</li>
