---
import Tags from "../Tags.astro";
import Contributers from "../Contributers.astro";
import Vimeo from "../Vimeo.astro";
import { getWebinarMeta } from "../../scripts/webinarMeta";
import WebinarImage from "./WebinarImage.astro";

const { webinar } = Astro.props;

const eventId = webinar.id;
const meta = getWebinarMeta(eventId);

const checkoutURL = webinar.url;
const title = webinar.name.text;
const subtitle = webinar.description.text;
const tickets = webinar.orderedTickets;
---

<div class="card card-webinar">
  <!-- Tix: {JSON.stringify(tix)}<br /> -->
  <div class="live-date">
    <span class="live-day"> {webinar.day} </span>
    <span class="live-month"> {webinar.month} </span>
  </div>

  <h2>
    <a href={`/webinars/${eventId}`}>{title}</a>
  </h2>

  <WebinarImage webinar={webinar} />

  <Vimeo embedUrl={webinar.videoData?.embed_url} />

  <div class="card-details">
    <a href={`/webinars/${eventId}`} class="card-type-course"> LIVE WEBINAR </a>
    <span>
      From {tickets[0].cost} + booking fee
    </span>
  </div>

  <p>
    {subtitle}
  </p>

  <div class="card-meta">
    <span class="tags">
      {
        `${webinar.day} ${webinar.month} ${webinar.startTime} - ${webinar.endTime}`
      }
    </span>

    <Contributers people={meta?.contributers} />
    <Tags tags={meta?.tags} />
  </div>

  <div class="card-buttons">
    <a href={`/webinars/${eventId}`}> Learn More </a>
    <a href={`${checkoutURL}?aff=web`}> Tickets </a>
  </div>
</div>
