---
import Contributers from "../Contributers.astro";
import { getWebinarMeta } from "../../scripts/webinarMeta";
import WebinarImage from "./WebinarImage.astro";
import type { Webinar } from "../../types/webinar";
import "../../styles/components/card.scss";

const { webinar } = Astro.props as { webinar: Webinar };

const eventId = webinar.id;
const meta = getWebinarMeta(eventId);

const title = webinar.title;
const subtitle = webinar.description;
const tickets = webinar.tickets;
---

<div
  class="card card-courses"
  data-webinar-end={webinar.endDate?.toISOString()}
>
  <div class="live-date">
    <span class="live-day">{webinar.displayDate.day}</span>
    <span class="live-month">{webinar.displayDate.month}</span>
  </div>
  <div class="card-image">
    <WebinarImage webinar={webinar} />
  </div>
  <h2>
    <a href={`/webinars/${eventId}`}>{title}</a>
  </h2>
  <div class="card-details">
    <span class="date">
      {`${webinar.displayDate.day} ${webinar.displayDate.month}`} at
      {`${webinar.displayDate.startTime}`}
    </span>
    <Contributers people={meta?.contributers} />

    <!--<span class="duration"> {course.meta?.runningTime} </span>-->
    <span class="cost">
      {
        tickets.length === 1
          ? tickets[0].costValue === 0
            ? "Free"
            : tickets[0].costPlusFee
          : `from ${tickets[0].costPlusFee}`
      }
    </span>
  </div>

  <p>
    {subtitle}
  </p>

  {meta?.subsubtitle && <p>{meta.subsubtitle}</p>}

  <!--<div class="card-meta">-->
  <!--  <Contributers people={course.meta?.contributers} />-->
  <!--  <Tags tags={course.meta?.tags} />-->
  <!--</div>-->

  <div class="card-actions">
    <a class="btn" href={`/webinars/${eventId}`}> Learn More </a>
    <a class="btn add-tickets" href={`${webinar.url}?aff=web`}> Tickets </a>
  </div>
</div>
