---
import Tags from "../Tags.astro";
import Contributers from "../Contributers.astro";
import Vimeo from "../Vimeo.astro";

import { getWebinarMeta } from "../../scripts/webinarMeta";

import WebinarImage from "./WebinarImage.astro";

const { webinar } = Astro.props;

const eventId = webinar.id;
const meta = getWebinarMeta(eventId);

const title = webinar.name.text;
const subtitle = webinar.description.text;
const tickets = webinar.orderedTickets;
const detailsText = webinar.detailsText;

const checkoutURL = webinar.url;
---

<div class="details details-webinars">
  <div class="details-category">LIVE WEBINAR</div>

  <div class="live-date">
    <span class="live-day">{webinar.day}</span>
    <span class="live-month">{webinar.month}</span>
  </div>

  <h1>{title}</h1>
  <div class="details-image">
    <WebinarImage webinar={webinar} />
  </div>

  <div class="details-body">
    <div class="details-body-A">
      <p set:html={detailsText} />

      {
        webinar.agenda && (
          <h3>Agenda</h3>
            <ul>
              {webinar.agenda.map((a) => (
                <li>{a}</li>
              ))}
            </ul>
        )
      }

      <Vimeo embedUrl={webinar.videoData?.embed_url} />

      <h3>Frequently Asked Questions</h3>
      <div class="accordion-wrapper">
        <button class="accordion"
          >Why is Eventbrite is asking for further information?</button
        >
        <div class="panel">
          <p>
            You do not need to add any further information to access the webinar
          </p>
        </div>
        <button class="accordion">How do I join the live webinar?</button>
        <div class="panel">
          <p>
            This webinar is hosted on Zoom. Please make sure you have Zoom
            installed. We will email you a reminder 2 hours before the event and
            10 minutes before, with the Zoom meeting link
          </p>
        </div>
        <button class="accordion"
          >Can I miss the webinar and watch it later?</button
        >
        <div class="panel">
          <p>
            Yes, if you choose the webinar + recording option you can watch it
            in your own time, up to 30 days after the webinar
          </p>
        </div>
        <button class="accordion"
          >When will I be sent a link to the recording?</button
        >
        <div class="panel">
          <p>We'll send a link by the morning after the webinar</p>
        </div>
        <button class="accordion"
          >How long can I watch the recording for?</button
        >
        <div class="panel">
          <p>You can watch the recording for 30 days after the webinar</p>
        </div>
        <button class="accordion"
          >Questions about logging in, where are my tickets, refunds, or
          duplicate card charges</button
        >
        <div class="panel">
          <p>
            Please visit the general Eventbrite FAQ about this: <a
              href="https://www.eventbrite.co.uk/help/en-gb/contact-us/"
              target="_blank">www.eventbrite.co.uk/help/en-gb/contact-us/</a
            >
          </p>
        </div>
      </div>

      <!-- <div class="preview-quote-wrapper">
        <div class="preview-quote quote">
          This was awesome. Like, life-changing and affirmative!
          <span>Attendee of Low Demand Parenting Webinar</span>
        </div>
      </div>
      <div class="preview-quote-wrapper">
        <div class="preview-quote quote">
          Such a relief to be at the excellent low demand parenting seminar by
          Naomi Fisher and Eliza Fricker last night
          <span>Attendee of Low Demand Parenting Webinar</span>
        </div>
      </div>
      <div class="preview-quote-wrapper">
        <div class="preview-quote quote">
          Such a humble, insightful and highly informative webinar. Dr Naomi
          Fisher and Eliza Fricker were the perfect duo of lived experience and
          academic knowledge
          <span>Attendee of Low Demand Parenting Webinar</span>
        </div>
      </div>
      <p>
        <em>
          This webinar is not therapy and should not be used as a replacement
          for therapy.
        </em>
      </p> -->
    </div>

    <div class="details-body-B">
      <div class="purchase-wrapper">
        <div class="purchase-title">
          <div class="card-details">
            <span class="date">
              {webinar.day}
              {webinar.monthLong}
              {webinar.year}
            </span>
            <span class="time">
              {`${webinar.startTime} - ${webinar.endTime}`}
            </span>
            <span class="globe"> Online via Zoom </span>
          </div>
        </div>

        {
          tickets.filter((t) => !t.hidden).map((ticket) => (
            <a href={checkoutURL} target="blank">
              <div class="purchase">
                <div class="price">
                  £{(ticket.costValue + ticket.feeValue) / 100}
                </div>
                <div class="company eventbrite">{ticket.name}</div>
                <div class="buy-now">
                  <span> Buy Now </span>
                </div>
              </div>
            </a>
          ))
        }
      </div>
      <div class="card-meta details-meta">
        <Contributers people={meta?.contributers} />
        <Tags tags={meta?.tags} />
      </div>
    </div>
  </div>
</div>
