---
import Tags from "../Tags.astro";
import Contributers from "../Contributers.astro";
import Vimeo from "../Vimeo.astro";
import { getWebinarMeta } from "../../scripts/webinarMeta";
import WebinarImage from "./WebinarImage.astro";

const { webinar } = Astro.props;

const eventId = webinar.id;
const meta = getWebinarMeta(eventId);

const people = webinar.people;
const checkoutURL = webinar.url;
const title = webinar.name.text;
const subtitle = webinar.description.text;
const start = webinar.start.utc;
const end = webinar.end.utc;
const tickets = webinar.orderedTickets;

const startDateTime = new Date(Date.parse(start));
const endDateTime = new Date(Date.parse(end));

const displayDay = { day: "numeric" };
const displayMonth = { month: "short" };
const displayTimeStart = {
  hour: "numeric",
  minute: "numeric",
  timeZone: "Europe/London",
};

const displayTimeEnd = {
  hour: "numeric",
  minute: "numeric",
  timeZone: "Europe/London",
  timeZoneName: "short",
};

const day = startDateTime.toLocaleString(undefined, displayDay);
const month = startDateTime.toLocaleString(undefined, displayMonth);
const startTime = startDateTime.toLocaleString("en-GB", displayTimeStart);
const endTime = endDateTime.toLocaleString("en-GB", displayTimeEnd);
---

<div class="card card-webinar">
  <!-- Tix: {JSON.stringify(tix)}<br /> -->
  <div class="live-date">
    <span class="live-day"> {day} </span>
    <span class="live-month"> {month} </span>
  </div>

  <h2>
    <a href={`/webinars/${eventId}`}>{title}</a>
  </h2>

  <WebinarImage webinar={webinar} />

  <Vimeo embedUrl={webinar.videoData?.embed_url} />

  <div class="card-details">
    <a href={`/webinars/${eventId}`} class="card-type-course"> LIVE WEBINAR </a>
    <span>
      From {tickets[0].cost} + booking fee
      <!-- {startTime} - {endTime},
      {tix.map((ticket, index) => ` ${ticket.price} (${ticket.name})`)} -->
    </span>
  </div>

  <p>
    {subtitle}
  </p>

  <div class="card-meta">
    <span class="tags">
      {`${day} ${month} ${startTime} - ${endTime}`}
    </span>

    <Contributers people={meta?.contributers} />

    <Tags tags={meta?.tags} />
  </div>

  <div class="card-buttons">
    <a href={`/webinars/${eventId}`}> Learn More </a>
    <a href={`${checkoutURL}?aff=web`}> Tickets </a>
  </div>
</div>
