---
import Tags from "../Tags.astro";
import Contributers from "../Contributers.astro";
import { getWebinarMeta } from "../../scripts/webinarMeta";
import WebinarImage from "./WebinarImage.astro";
import ChooseWebinarTicketsWrapper from "../basket/ChooseWebinarTicketsWrapper";
import type { Webinar } from "../../types/webinar";

const { webinar } = Astro.props as { webinar: Webinar }; // Explicitly typing webinar

const eventId = webinar.id;
const meta = getWebinarMeta(eventId);

const title = webinar.name.text;
const subtitle = webinar.description.text;
const tickets = webinar.orderedTickets;

// console.log(webinar.ticket_classes);
---

<div
  class="card card-webinars"
  data-webinar-end={webinar.endDateTime?.toISOString()}
>
  <div class="live-date">
    <span class="live-day">{webinar.day}</span>
    <span class="live-month">{webinar.month}</span>
  </div>

  <h2>
    <a href={`/webinars/${eventId}`}>{title}</a>
  </h2>

  <div class="card-image">
    <WebinarImage webinar={webinar} />
  </div>

  <div class="card-details">
    <span class="date">
      {`${webinar.day} ${webinar.month}`} at
      {`${webinar.startTime}`}
    </span>
    <Contributers people={meta?.contributers} />

    <!--<span class="time">-->
    <!--  {`${webinar.startTime} - ${webinar.endTime}`}-->
    <!--</span>-->
    <span class="cost">
      {
        tickets.length === 1
          ? tickets[0].costValue === 0
            ? "Free"
            : tickets[0].costPlusFee
          : `from ${tickets[0].costPlusFee}`
      }
    </span>
  </div>

  <p>
    {subtitle}
  </p>

  {meta?.subsubtitle && <p>{meta.subsubtitle}</p>}

  <!--<div class="card-meta">-->
  <!--  <Contributers people={meta?.contributers} />-->
  <!--  <Tags tags={meta?.tags} />-->
  <!--</div>-->

  <div class="card-buttons">
    <a href={`/webinars/${eventId}`}> Learn More </a>

    <ChooseWebinarTicketsWrapper webinar={webinar} client:load />
  </div>
</div>
