---
import Tags from "../Tags.astro";
import Contributers from "../Contributers.astro";
import Vimeo from "../Vimeo.astro";

import { getWebinarMeta } from "../../scripts/webinarMeta";

import WebinarImage from "./WebinarImage.astro";

const { webinar } = Astro.props;

const eventId = webinar.id;
const meta = getWebinarMeta(eventId);

const tags = webinar.tags;
const title = webinar.name.text;
const subtitle = webinar.description.text;
const tickets = webinar.orderedTickets;
const detailsText = webinar.detailsText;
---

<div class="card card-webinar">
  <!-- Tix: {JSON.stringify(tix)}<br /> -->
  <div class="live-date">
    <span class="live-day"> {webinar.day} </span>
    <span class="live-month"> {webinar.month} </span>
  </div>

  <h2>
    <a href="#">{title}</a>
  </h2>

  <WebinarImage webinar={webinar} />

  <Vimeo embedUrl={webinar.videoData?.embed_url} />

  <div class="card-details">
    <a href="#" class="card-type-course"> LIVE WEBINAR </a>
    <span>
      From {tickets[0].cost} + booking fee
    </span>
  </div>

  <p>
    {subtitle}
  </p>

  <p set:html={detailsText} />

  <div class="card-meta">
    <span class="tags">
      {
        `${webinar.day} ${webinar.month} ${webinar.startTime} - ${webinar.endTime}`
      }
    </span>

    <Contributers people={meta?.contributers} />
    <Tags tags={tags} />
  </div>

</div>

<div>

  <script is:inline src="/scripts/eb.js"></script>

  <div id="example-widget-trigger"></div>

  <script type="text/javascript" define:vars={{ eventId }}>
    var exampleCallback = function () {
      console.log("Order complete!");
    };

    window.EBWidgets.createWidget({
      widgetType: "checkout",
      eventId: eventId,
      iframeContainerId: "example-widget-trigger",
      iframeContainerHeight: 425,
      onOrderComplete: exampleCallback,
    });
  </script>
</div>
