---
import {getCollection} from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BookSummary from "../components/book/BookSummary.astro";
import StaticImage from "../components/StaticImage.astro";
import homeImage from "../images/static/i-trust-you-to-listen-and-understand.png";

const pageTitle = "Books";

// Sort newest first
const books = (await getCollection("books")).sort(
    (a, b) => b.data.id - a.data.id
);

const metaDescription =
    "Dr Naomi Fisher's books, including Changing Our Minds about How children can take control of their own learning, A Different Way to Learn about Neurodiversity and Self-Directed Education , Psychology of Mental Health, When the Naughty Step Makes Things Worse about Parenting for Children (and Adults) Who Need Something Different";
---

<BaseLayout
        active="books"
        pageTitle={pageTitle}
        metaDescription={metaDescription}
>
    <div class="page-intro-wrapper">
        <div class="page-intro-image">
            <StaticImage image={homeImage} alt="Drawing of parent comforting child"/>
        </div>

        <div class="page-intro-text">
            <p>I write the books I would have liked to read. My earlier books Changing Our Minds and A Different Way to
                Learn reflect the years I spent home educating my children, when I felt that there was little which
                reflected our educational experience. I saw how differently they learnt through not going to school, and
                how little there was available which looked at the process of learning outside school from a
                developmental psychology perspective.</p>

            <p> I then took a side step into academia and mental health for my next book Psychology of Mental Health.
                This is an undergraduate text book and encourages students to take a step back from the dominant
                paradigms of mental health and think critically.</p>

            <p> Most recently, When the Naughty Step Makes Things Worse (with Eliza Fricker) addresses something which
                had bothered me for a while – what happens when conventional parenting strategies result in parent and
                child being locked into battles? Often parents are told to just keep trying, and this book offers
                something different.</p>

            <p> Parents would often ask me whether there was anything for their teenagers when they had stopped going to
                school which didn’t assume that going back to school was the only answer. I couldn’t find anything, and
                so Eliza Fricker and I wrote one. The Teenager’s Guide to Burnout is an illustrated guide for teens on
                finding their way back to the life they want to lead.</p>
        </div>

    </div>

    <h2 class="section-title">
        <span class="books-section-title">Naomi's books</span>
    </h2>

    {books.map((book) =>
            <BookSummary book={book.data}/>)}
</BaseLayout>
