---
import {
  getCoursesWithTagWithoutOtherTags,
  getFeaturedCourses,
  getLatestCourses,
} from "../scripts/courses";
import BaseLayout from "../layouts/BaseLayout.astro";
import CoursesList from "../components/course/CoursesListV2.astro";

import WhitePanel from "../components/WhitePanel.astro";
import GenerateQuote from "../components/Quoter";
import { getEntry } from "astro:content";
import StaticImage from "../components/StaticImage.astro";

import homeImage from "../images/static/courses-home.png";
const featuredCourses1 = await getFeaturedCourses(0, 4);
const featuredCourses2 = await getFeaturedCourses(2, 4);

const coursesQuotes = (await getEntry(
  "course-quotes",
  "general-course-quotes",
))!.data;
const metaDescription =
  "Dr Naomi Fisher and Dr Abigail Fisher's courses on helping autistic children with anxiety, screen time, PDA and Demand Avoidance, burnout, What Neurodiversity is, problems at school and EHCP and professional courses on EMDR";
---

<BaseLayout
  active="courses"
  pageTitle="Courses"
  metaDescription={metaDescription}
>
  <!-- <div class="breadcrumb-container">
    <div class="category-badges-wrapper">
      <ul>
        <li><a href="/courses-sub">Autism</a></li>
        <li><a href="/courses-sub">Demand Avoidance</a></li>
        <li><a href="/courses-sub">School and Education</a></li>
        <li><a href="/courses-sub">Mental Health and Behaviour</a></li>
        <li><a href="/courses-sub">For Teens</a></li>
      </ul>
    </div>
  </div> -->
  <a name="courses" class="anchor">
    <h1 class="section-title">
      <span class="courses-section-title">Courses</span>
    </h1>
  </a>

  <WhitePanel
    title="Dr Naomi Fisher is a clinical psychologist, EMDR-Europe Accredited trainer and author."
    descriptions={[
      " We created our pre-recorded video courses when we discovered families were finding it hard to access high quality, affordable psychological information which addressed their children's needs.",
      "They are divided into manageable modules.",
      "You or your child can watch them in your own time for 12 months after purchase.",
      'See our <a href="#faq">Courses FAQ</a> for more information.',
    ]}
    img={homeImage}
    imgAlt="Dr. Naomi Fisher"
  />

  <div class="category-badges-wrapperV2">
    <ul>
      <li><a href="/courses-sub">Autism</a></li>
      <li><a href="/courses-sub">Demand Avoidance</a></li>
      <li><a href="/courses-sub">School and Education</a></li>
      <li><a href="/courses-sub">Mental Health and Behaviour</a></li>
      <li><a href="/courses-sub">For Teens</a></li>
    </ul>
  </div>

  <!-- <div class="page-intro-wrapper-no-image">
    <p>
      We created our pre-recorded video courses when we discovered families were
      finding it hard to access high quality, affordable psychological
      information which addressed their children's needs.
    </p><p>They are divided into manageable modules.</p><p>
      You or your child can watch them in your own time for 12 months after
      purchase.
    </p>
    <p>See our <a href="#faq">Courses FAQ</a> for more information.</p>
  </div> -->

  <!-- <div class="page-intro-wrapper">
    <div class="page-intro-static-image">
      <StaticImage
        image={homeImage}
        alt="Naomi and Child reading A Different Way To Learn"
      />
    </div>

    <div class="page-intro-text">
      <div class="category-badges-wrapper">
        <ul>
          <li><a href="/courses-sub">Autism</a></li>
          <li><a href="/courses-sub">Demand Avoidance</a></li>
          <li><a href="/courses-sub">School and Education</a></li>
          <li><a href="/courses-sub">Mental Health and Behaviour</a></li>
          <li><a href="/courses-sub">For Teens</a></li>
        </ul>
      </div>
    </div>
  </div> -->

  <h2 class="section-title">
    <span class="courses-section-title">Featured Courses</span>
  </h2>
  <CoursesList
    courses={featuredCourses1}
    categoryId="featured"
    categoryName="Featured Courses"
  />

  <GenerateQuote client:load quotes={coursesQuotes} />
  <div class="faq-wrapper">
    <a class="anchor" name="faq">
      <h2 class="section-title">
        <span class="courses-section-title">Courses FAQ</span>
      </h2></a
    >
    <div class="accordion-wrapper">
      <button class="accordion">What is a course?</button>
      <div class="panel">
        <p>
          Our courses are a series of pre-recorded videos that you watch in your
          own time. They are available to watch for 12 months after purchase.
        </p>
      </div>

      <button class="accordion">How do I find a course?</button>
      <div class="panel">
        <p>
          <a href="/courses">Browse our courses</a> to see which ones are of interest.
        </p>
      </div>

      <button class="accordion">How do I watch courses I've purchased?</button>

      <div class="panel">
        <p>
          <a href="https://courses.naomifisher.co.uk/login"
            >Login to our courses website</a
          > to watch your courses.
        </p>
      </div>
      <button class="accordion"
        >How long are courses available to watch for?</button
      >
      <div class="panel">
        <p>They are now available to watch for 12 months after purchase.</p>
      </div>
    </div>
  </div>
</BaseLayout>
