---
import BaseLayout from "../layouts/BaseLayout.astro";
import getWebinars from "../scripts/webinars.js";
import WebinarSummary from "../components/webinar/WebinarSummary.astro";

import GenerateQuote from "../components/Quoter";
import { getEntry } from "astro:content";

import { getFeaturedCourses } from "../scripts/courses";
import CoursesList from "../components/course/CoursesList.astro";
import BookSummary from "../components/book/BookSummary.astro";
import { getFeaturedBooks } from "../scripts/book";
import Newsletter from "../components/Newsletter.astro";
import BlogList from "../components/blog/BlogList.astro";
import StaticImage from "../components/StaticImage.astro";
import homeImage from "../images/static/i-trust-you-to-listen-and-understand.png";

const webinars = await getWebinars();

const featuredCourses1 = await getFeaturedCourses(0, 2);
const featuredCourses2 = await getFeaturedCourses(2, 4);

const featuredBooks = await getFeaturedBooks();

const webinarQuotes = (
  await getEntry("webinar-quotes", "general-webinar-quotes")
).data;
const coursesQuotes = (await getEntry("course-quotes", "general-course-quotes"))
  .data;
const generalQuotes = (await getEntry("static-pages-quotes", "homepage")).data;

const metaDescription =
  "Dr Naomi Fisher is a clinical psychologist, author and speaker specialising in parenting, mental health issues in children, autism and trauma. She runs EMDR Basic Training and Refresher Day courses. Dr Abigail Fisher is an education psychologist specialising in Special Educational Needs (SEN), EHCPs, EOTAS. We create courses and webinars for parents and professionals.";
---

<BaseLayout
  active="home"
  pageTitle="Home"
  bodyClassName="home"
  metaDescription={metaDescription}
>
  <div class="page-intro-wrapper">
    <div class="page-intro-image">
      <StaticImage image={homeImage} alt="Drawing of parent comforting child" />
    </div>

    <div class="page-intro-text">
      <h2 class="feature-headline">FREE WEBINAR TICKET</h2>
      <p>
        We are offering a free ticket to anyone who orders our new book, <em
          >When the Naughty Step Makes Things Worse</em
        >, before Oct 9th. <a href="/webinars/1008493379847">More details.</a>
      </p>

      <h1>WELCOME</h1>
      <p>Here you’ll find the work of Dr Naomi Fisher and Dr Abigail Fisher.</p>
      <p>
        Naomi is a clinical psychologist, author and EMDR-Europe Accredited
        Trainer. She writes and speaks about trauma, autism and alternative
        education. Abigail is an educational psychologist and qualified teacher.
      </p>
      <p>
        We offer a range of support for parents and carers alongside resources
        for professionals and teens.
      </p>
      <h2>WEBINARS, COURSES AND BOOKS</h2>
      <p>
        If you’re a parent or carer looking for support, we run regular
        <a href="/webinars">webinars</a>. These are live events but you can
        choose to buy the recording as well.
      </p>

      <p>
        We also have many short <a href="/courses">courses</a> for parents, teenagers
        and professionals to watch. These are on-demand and can be viewed in your
        own time.
      </p>

      <p>
        Naomi has written several <a href="/books">books</a>. Her latest, <em
          >When the Naughty Step Makes Things Worse</em
        >, is <a
          href="/books/when-the-naughty-step-makes-things-worse">now available.</a
        >
      </p>

      <h2>EMDR AND PROFESSIONAL TRAINING</h2>
      <p>
        Naomi runs EMDR <a href="/training/">Basic Training</a> and EMDR <a
          href="/training/">Refresher Days</a
        >. She also provides <a href="/training/">professional training</a> on many
        topics including neurodiversity and trauma.
      </p>
    </div>
  </div>

  <a name="webinars" class="anchor">
    <h2 class="section-title">
      <span class="webinars-section-title">Upcoming Webinars</span>
    </h2>
  </a>

  {webinars.map((webinar, index) => <WebinarSummary webinar={webinar} />)}

  <!-- {console.log(webinars.length)}
  {webinars.length % 2 !== 0 && <Newsletter />} -->

  <!-- <GenerateQuote client:load quotes={webinarQuotes} /> -->

  <Newsletter />

  <CoursesList
    courses={featuredCourses1}
    categoryId="featured"
    categoryName="Featured Courses"
  />

  <!-- <CoursesList courses={featuredCourses2} /> -->

  <a href="/courses" class="load-more"> See All Courses </a>

  <a name="books" class="anchor">
    <h2 class="section-title">
      <span class="books-section-title">Featured Books</span>
    </h2>
  </a>
  {featuredBooks.map((book) => <BookSummary book={book.data} />)}

  <!-- <a name="blog" class="anchor">
    <h2 class="section-title">
      <span class="blog-section-title">Latest Blog Posts</span>
    </h2>
  </a> -->

  <GenerateQuote client:load quotes={generalQuotes} />

  <!-- <Newsletter /> -->

  <!-- <BlogList length="2" />

  <a href="/blog" class="load-more"> See All Blog Posts </a> -->
</BaseLayout>
