---
import BaseLayout from "../layouts/BaseLayout.astro";
import StaticImage from "../components/StaticImage.astro";
import homeImage from "../images/static/1080w/nf-oxford.webp";
const formId = "6662296";
const pageTitle = "School Burnout Toolkit";
const metaDescription =
  "Dr Naomi Fisher's free toolkit on school burnout for autistic children";
---

<BaseLayout
  active="freebie"
  pageTitle={pageTitle}
  metaDescription={metaDescription}
>
  <div class="page-intro-wrapper">
    <div class="page-intro-static-image">
      <StaticImage
        image={homeImage}
        alt="Naomi and Child reading A Different Way To Learn"
      />
    </div>

    <div class="page-intro-text">
      <h3>School Burnout</h3>
      <p>
        I write the books I would have liked to read. My earlier books <a
          href="/books/changing-our-minds">Changing Our Minds</a
        > and <a href="/books/a-different-way-to-learn"
          >A Different Way to Learn</a
        > reflect the years I spent home educating my children, when I felt that
        there was little which reflected our educational experience. I saw how differently
        they learnt through not going to school, and how little there was available
        which looked at the process of learning outside school from a developmental
        psychology perspective.
      </p>

      <form
        action={`https://app.convertkit.com/forms/${formId}/subscriptions`}
        class="seva-form formkit-form"
        method="post"
        data-sv-form={`${formId}`}
        data-uid="a4bc346f2b"
        data-format="inline"
        data-version="5"
        data-options='{"settings":{"after_subscribe":{"action":"message","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":""},"analytics":{"google":null,"fathom":null,"facebook":null,"segment":null,"pinterest":null,"sparkloop":null,"googletagmanager":null},"modal":{"trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"powered_by":{"show":false,"url":"https://convertkit.com/features/forms?utm_campaign=poweredby&utm_content=form&utm_medium=referral&utm_source=dynamic"},"recaptcha":{"enabled":false},"return_visitor":{"action":"hide","custom_content":""},"slide_in":{"display_in":"bottom_right","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"sticky_bar":{"display_in":"top","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15}},"version":"5"}'
        min-width="400 500 600 700 800"
      >
        <div data-style="clean">
          <ul
            class="formkit-alert formkit-alert-error"
            data-element="errors"
            data-group="alert"
          >
          </ul>
          <div
            data-element="fields"
            data-stacked="true"
            class="seva-fields formkit-fields"
          >
            <div class="formkit-field">
              <input
                class="formkit-input"
                name="email_address"
                aria-label="Email Address"
                placeholder="Your Email Address"
                required=""
                type="email"
              />
            </div>

            <button data-element="submit" class="formkit-submit formkit-submit">
              <div class="formkit-spinner">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <span class="">Get your toolkit</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</BaseLayout>
