---
import BaseLayout from "../layouts/BaseLayout.astro";

import GenerateQuote from "../components/Quoter";
import { getEntry } from "astro:content";

import StaticImage from "../components/StaticImage.astro";

import floatBack from "../images/training/EMDR-floatback.jpg";
import keepingOutTheWay from "../images/training/EMDR-keeping-out-the-way.jpg";
import logsOnRiver from "../images/training/EMDR-logs-on-a-river.jpg";
import specialInterests from "../images/training/EMDR-special-interests.jpg";
import whatHappened from "../images/training/EMDR-tell-me-what-happened.jpg";
import therapist from "../images/training/EMDR-therapist.jpg";

const quotes = (await getEntry("tag-quotes", "emdr")).data;
---

<script src="../scripts/accordion.js"></script>

<BaseLayout active="training" pageTitle="Training">
  <div class="info-section-wrapper">
    <div class="info-text">
      <p>Dr Naomi Fisher is an EMDR-Europe accredited trainer.</p>

      <p>
        She runs <a href="#online-EMDR-basic-training"
          >online EMDR Basic Training</a
        > courses for those who are already qualified mental health professionals
        who want to learn how to do EMDR.
      </p>
      <p>
        She can run <a href="#in-house-EMDR-basic-training"
          >in-house EMDR Basic Training</a
        > for groups of 24 or more.
      </p>
      <p>
        She hosts <a href="#EMDR-refresher-day">EMDR Refresher Days</a> for those
        already fully trained who need to brush up their skills or gain confidence
        in EMDR.
      </p>
      <p>
        She can also run <a href="#bespoke-training">bespoke training</a> for your
        organisation on a diverse range of topics.
      </p>
    </div>
    <div class="info-links">
      <a href="#online-EMDR-basic-training" class="filter-pro-courses">
        Online EMDR Basic Training
      </a>
      <a href="#in-house-EMDR-basic-training" class="filter-pro-courses">
        In-house EMDR Basic Training
      </a>
      <a href="#EMDR-refresher-day" class="filter-pro-courses">
        EMDR Refresher Day
      </a>
      <a href="#bespoke-training" class="filter-pro-courses">
        Bespoke Training
      </a>
    </div>
  </div>

  <a name="online-EMDR-basic-training" class="anchor">
    <h2 class="section-title">
      <span class="pro-courses-section-title">Online EMDR Basic Training</span>
    </h2>
  </a>

  <div class="page-intro-wrapper">
    <div class="page-intro-static-image">
      <StaticImage image={therapist} alt="Therapist performing EMDR" />
    </div>
    <div class="page-intro-text">
      <p>
        Naomi's training is delivered online using Zoom and break-out rooms.
      </p>

      <p>
        The course takes seven days and consists of three separate parts. It is
        a practical course and you will practice doing EMDR on each other from
        Part 1.

        <p>
          You will learn how to implement the basic protocol, how to adapt that
          to your clients and how to work with complex trauma. You will also
          learn how to use EMDR as a transdiagnostic intervention. This training
          covers everything you need to start using EMDR.
        </p>
      </p>
      <div class="accordion-wrapper">
        <button class="accordion no-title-accordion">Further Details</button>
        <div class="panel">
          <p>Training covers:</p>
          <p>
            <ul>
              <li>The 8-phase EMDR protocol</li>
              <li>The evidence base</li>
              <li>Understanding trauma and PTSD</li>
              <li>Formulation and the adaptive information processing model</li>
              <li>Preparation and self-soothing</li>
              <li>The Three-Prongs of EMDR</li>
              <li>Using EMDR beyond PTSD</li>
              <li>Working with complex trauma</li>
              <li>Working with children</li>
              <li>Working with neurodiversity</li>
              <li>Case supervision</li>
              <li>EMDR Practicum</li>
            </ul>
          </p>
          <p>It includes 10 hours of clinical supervision.</p>
          <p>
            You will need to attend every part of the training to receive the
            attendance certificate which is necessary if you want to continue to
            accreditation with the EMDR UK Association. This takes at least a
            year after completing the training and requires you to have ongoing
            supervision as well as to submit videos.
          </p>
        </div>

        <button class="accordion">Training Dates</button>
        <div class="panel">
          <ul>
            <li>
              Part 1: <strong>16-18th October 2024</strong>
            </li>
            <li>
              Part 2: <strong>12-13th December 2024</strong>
            </li>
            <li>
              Part 3: <strong>10-11th February 2025</strong>
            </li>
          </ul>
        </div>

        <a
          class="mock-accordion"
          href="https://www.emdrtraininguk.co.uk/apply-for-emdr-basic-training"
          target="_blank">Check Eligibility & Apply</a
        >
      </div>
    </div>
  </div>

  <a name="in-house-EMDR-basic-training" class="anchor">
    <h2 class="section-title">
      <span class="pro-courses-section-title">In-house EMDR Basic Training</span
      >
    </h2>
  </a>

  <div class="page-intro-wrapper">
    <div class="page-intro-static-image">
      <StaticImage
        image={logsOnRiver}
        alt="Therapist telling a client it sounds interesting"
      />
    </div>
    <div class="page-intro-text">
      <p>
        For groups of 24 or more, we can provide in-house EMDR Basic Training
        training in person.
      </p>
      <div class="accordion-wrapper">
        <button class="accordion no-title-accordion">Further Details</button>
        <div class="panel">
          <p>
            Basic training takes seven days and consists of three separate
            parts, each a couple of months apart. It is a practical course and
            you will practice doing EMDR on each other from Part 1. You will
            learn how to implement the basic protocol, how to adapt that to your
            clients and how to work with complex trauma. You will also learn how
            to use EMDR as a transdiagnostic intervention. It covers:
          </p>
          <p>
            <ul>
              <li>The 8-phase EMDR protocol</li>
              <li>The evidence base</li>
              <li>Understanding trauma and PTSD</li>
              <li>Formulation and the adaptive information processing model</li>
              <li>Preparation and self-soothing</li>
              <li>The Three-Prongs of EMDR</li>
              <li>Using EMDR beyond PTSD</li>
              <li>Working with complex trauma</li>
              <li>Working with children</li>
              <li>Working with neurodiversity</li>
              <li>Case supervision</li>
              <li>EMDR Practicum</li>
            </ul>
          </p>
          <p>It includes 10 hours of clinical supervision.</p>
          <p>
            You will need to attend every part of the training to receive the
            attendance certificate which is necessary if you want to continue to
            accreditation with the EMDR UK Association. This takes at least a
            year after completing the training and requires you to have ongoing
            supervision as well as to submit videos.
          </p>
        </div>

        <a class="mock-accordion" href="/contact">Contact us to enquire</a>
      </div>
    </div>
  </div>

  <GenerateQuote client:load quotes={quotes} />

  <a name="EMDR-refresher-day" class="anchor">
    <h2 class="section-title">
      <span class="pro-courses-section-title">EMDR Refresher Day</span>
    </h2>
  </a>

  <div class="page-intro-wrapper">
    <div class="page-intro-static-image">
      <StaticImage image={specialInterests} alt="Logs floating down a river" />
    </div>
    <div class="page-intro-text">
      <p>
        Naomi runs regular <strong>EMDR Refresher days</strong> for those who are
        already trained in EMDR but who want to refresh their knowledge. These people
        may have had some time away from clinical work, have just been on parental
        leave or might have never quite got going with EMDR.
      </p>

      <p>
        These days are online and they cover all aspects of the standard
        protocol, including cognitive interweaves. They are interactive and
        there are lots of chances to ask questions.
      </p>
      <div class="accordion-wrapper">
        <button class="accordion no-title-accordion">Further Details</button>
        <div class="panel">
          <p>
            You've done the EMDR basic training. You know that it could help
            your clients but you're finding it hard to get started. Maybe you
            did the training a while ago and never quite got going, or maybe
            you've recently finished but need an extra hand to get yourself up
            and running. Maybe your clients seem so complex that you just don't
            know how to try it out.
          </p>
          <p>
            Over the course of the day we'll go over the 8 phases and three
            prongs of the standard protocol, troubleshoot problems and revisit
            the Adaptive Information Processing model. We'll discuss case
            formulation, dive deep into cognitive interweaves and how to use
            them address common errors and how to avoid them.
          </p>

          <p>
            All in Naomi's trademark down-to-earth and engaging style, with
            videos to demonstrate key points. You'll leave energised and ready
            to launch (or turbo-charge) your EMDR practice.
          </p>

          <p>
            All participants receive a manual, a copy of the slides and access
            to Naomi's EMDR Refresher videos for 6 months.
          </p>

          <p>
            This day is suitable for both adult and child therapists who have
            completed the EMDR basic training.
          </p>
        </div>
        <button class="accordion">Training Dates</button>
        <div class="panel">
          <ul>
            <li>
              <strong>Fr 27 Sep 2024</strong>
            </li>
            <li>
              <strong>Fri 28 Mar 2025</strong>
            </li>
          </ul>
        </div>
      </div>

      <a
        class="mock-accordion"
        href="https://www.emdrtraininguk.co.uk/emdr-refresher-day"
        target="_blank">More Information & Apply</a
      >
    </div>
  </div>

  <GenerateQuote client:load quotes={quotes} />

  <a name="bespoke-training" class="anchor">
    <h2 class="section-title">
      <span class="pro-courses-section-title">Bespoke Training</span>
    </h2>
  </a>

  <div class="page-intro-wrapper">
    <div class="page-intro-static-image">
      <StaticImage image={floatBack} alt="Woman standing" />
    </div>
    <div class="page-intro-text">
      <p>
        Naomi is available to run <strong>Bespoke Training</strong> for your organisation
        or NHS trust.
      </p>

      <p>
        Recent training topics include Neurodiversity and Trauma, The Art of Low
        Demand Therapy, Working Therapeutically with Young People Who Aren't
        Attending School and Autism and Trauma: Bringing Neurodiversity into
        Your Formulation
      </p>
      <a class="mock-accordion" href="/contact">Contact us to enquire</a>
    </div>
  </div>
</BaseLayout>
