---
import WebinarSummary from "../components/webinar/WebinarSummary.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import getWebinars from "../scripts/webinars.js";
// import testWebinars1 from "../test-data/eventbrite/1event.json";
// import testWebinars3 from "../test-data/eventbrite/3events.json";
import GenerateQuote from "../components/Quoter";
import { getEntry } from "astro:content";
import StaticImage from "../components/StaticImage.astro";
import naomiAndElizaImage from "../images/static/naomi-and-eliza-looking-at-book.jpg";
import { RemoveFinishedWebinars } from "../components/webinar/RemoveFinishedWebinars";
import NewsletterNew from "../components/NewsletterNew.astro";

const entry = await getEntry("webinar-quotes", "general-webinar-quotes");
const quotes = entry?.data ?? [];

const pageTitle = "Webinars";
const webinars = await getWebinars();

const metaDescription =
  "Dr Naomi Fisher and Dr Abigail Fisher's upcoming live webinars on helping your autistic teenagers and children, for parents worried about their child's anxiety, demand avoidance and burnout. For helping families with problems at school, SEN, EHCPs. With Elia Fricker, the Art of Low Demand Parenting";
---

<BaseLayout
  active="webinars"
  pageTitle={pageTitle}
  metaDescription={metaDescription}
>
  <a name="about" class="anchor">
    <h1 class="section-title">
      <span class="courses-section-title">Webinars</span>
    </h1>
  </a>
  <div class="page-intro-wrapper">
    <div class="page-intro-static-image">
      <StaticImage
        image={naomiAndElizaImage}
        alt="Naomi and Eliza sitting with bookshelf in background "
      />
    </div>
    <div class="page-intro-text">
      <p>
        Our live webinars for parents and professionals are hosted on Zoom. They
        combine psychological theory with practical ideas to help. They are
        recorded and available for 30 days.
      </p>
      <p>
        We started these webinars because so many parents were getting in touch
        with Naomi asking for consultations or therapy and it was impossible for
        her to see them all. When she did see parents, she often ended up saying
        similar things and she thought that if we could put this into a webinar,
        then we could reach many more parents, whilst also being much more
        affordable and accessible.
      </p>
      <p>
        Our aim is to communicate useful psychological concepts and ideas in a
        way which empowers parents to help their children. Each webinar combines
        theory with practical ideas and examples. We are always writing new
        webinars and if you have something which you would particularly like to
        see covered, then please do get in touch.
      </p>

      <!-- <div class="accordion-wrapper">
        <button class="accordion no-title-accordion">Read More</button>
        <div class="panel">
          <p>
            We started these webinars because so many parents were getting in
            touch with Naomi asking for consultations or therapy and it was
            impossible for her to see them all. When she did see parents, she
            often ended up saying similar things and she thought that if we
            could put this into a webinar, then we could reach many more
            parents, whilst also being much more affordable and accessible.
          </p>
          <p>
            Our aim is to communicate useful psychological concepts and ideas in
            a way which empowers parents to help their children. Each webinar
            combines theory with practical ideas and examples. We are always
            writing new webinars and if you have something which you would
            particularly like to see covered, then please do get in touch.
          </p>
        </div>
      </div> -->
    </div>
  </div>

  <!--       --------------------------------------------------- -->
  <div
    class="card card-courses"
    data-webinar-end="2026-03-11T13:30:00.000Z"
    data-astro-cid-36t3u3hc=""
  >
    <div class="live-date" data-astro-cid-36t3u3hc="">
      <span class="live-day" data-astro-cid-36t3u3hc="">11</span>
      <span class="live-month" data-astro-cid-36t3u3hc="">Mar</span>
    </div>
    <div class="card-image" data-astro-cid-36t3u3hc="">
      <img
        loading="lazy"
        src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F1176563388%2F137448283838%2F1%2Foriginal.20260203-145331?auto=format%2Ccompress&q=75&sharp=10&s=9f8cd888c516f9248be612eb361c975b"
        alt="Image for Helping Your Autistic Child with Anxiety"
      />
    </div>
    <h2 data-astro-cid-36t3u3hc="">
      <a href="/webinars/1982284000808" data-astro-cid-36t3u3hc=""
        >Helping Your Autistic Child with Anxiety</a
      >
    </h2>
    <div class="card-details" data-astro-cid-36t3u3hc="">
      <span class="date" data-astro-cid-36t3u3hc=""> 11 Mar at 12:00 PM </span>
      <span class="contributors"> </span>
      <!--<span class="duration"> {course.meta?.runningTime} </span>-->
      <span class="cost" data-astro-cid-36t3u3hc=""> from £12.99 </span>
    </div>
    <p data-astro-cid-36t3u3hc="">
      Many autistic children are anxious and it is hard to know how to help. Dr
      Naomi Fisher will help you understand and support your child.
    </p>
    <!--<div class="card-meta">-->
    <!--  <Contributers people={course.meta?.contributers} />-->
    <!--  <Tags tags={course.meta?.tags} />-->
    <!--</div>-->
    <div class="card-actions" data-astro-cid-36t3u3hc="">
      <a class="btn" href="/webinars/1982284000808" data-astro-cid-36t3u3hc="">
        Learn More
      </a>
      <a
        class="btn"
        href="https://www.eventbrite.co.uk/e/helping-your-autistic-child-with-anxiety-tickets-1982284000808?aff=web?aff=web"
        data-astro-cid-36t3u3hc=""
      >
        Tickets
      </a>
    </div>
  </div>

  <!-----------------------------------------------------------  -->

  {
    webinars.length === 0 && (
      <>
        <h2 class="section-title">No upcoming Webinars</h2>
        <p>
          We don't have any upcoming webinars at the moment, but new sessions
          are always being added to our calendar. Please check back soon, or
          <a href="#newsletter">subscribe to our newsletter</a> to be notified
          of upcoming and newly added webinars.
        </p>
      </>
    )
  }

  {
    webinars.length > 0 && (
      <>
        <h2 class="section-title">Upcoming</h2>
        <div class="course-card-grid">
          <RemoveFinishedWebinars client:load />

          {webinars.map((webinar, index) => (
            <WebinarSummary webinar={webinar} />
          ))}
        </div>
        <GenerateQuote client:load quotes={quotes} />
      </>
    )
  }

  <GenerateQuote client:load quotes={quotes} />
  <div class="faq-wrapper">
    <h2 class="section-title">Webinars FAQ</h2>
    <div class="accordion-wrapper">
      <button class="accordion">What is a webinar?</button>
      <div class="panel">
        <p>
          Webinar are live online events. We host them on Zoom and they are
          recorded if you can't make the time.
        </p>
      </div>
      <button class="accordion">Are webinars recorded?</button>
      <div class="panel">
        <p>
          Yes, if you choose the webinar + recording ticket, you will get sent a
          link to the recording. You can watch the recording for 30 days after
          the webinar.
        </p>
      </div>
      <button class="accordion"
        >How long are webinar recordings available for?</button
      >
      <div class="panel">
        <p>They are available for 30 days after the webinar.</p>
      </div>
    </div>
  </div>
  <!-- HEADER stay informed -->
  <a id="newsletter" class="anchor">
    <h2 class="section-title">
      <span class="courses-section-title">Stay informed</span>
    </h2>
  </a>
  <NewsletterNew formId="6662296" />
</BaseLayout>
