---
import WebinarSummary from "../components/webinar/WebinarSummary.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import getWebinars from "../scripts/webinars.js";
import testWebinars1 from "../test-data/eventbrite/1event.json";
import testWebinars3 from "../test-data/eventbrite/3events.json";
import GenerateQuote from "../components/Quoter";
import { getEntry } from "astro:content";
import StaticImage from "../components/StaticImage.astro";
import naomiAndElizaImage from "../images/static/naomi-and-eliza-looking-at-book.jpg";

const quotes = (await getEntry("webinar-quotes", "general-webinar-quotes"))
  .data;

const pageTitle = "Webinars";
const webinars = await getWebinars();

// console.log(JSON.stringify(webinars));
const metaDescription =
  "Dr Naomi Fisher and Dr Abigail Fisher's upcoming live webinars on helping your autistic teenagers and children, for parents worried about their child's anxiety, demand avoidance and burnout. For helping families with problems at school, SEN, EHCPs. With Elia Fricker, the Art of Low Demand Parenting";
---

<BaseLayout
  active="webinars"
  pageTitle={pageTitle}
  metaDescription={metaDescription}
>
  <div class="page-intro-wrapper">
    <div class="page-intro-image">
      <StaticImage
        image={naomiAndElizaImage}
        alt="Naomi and Eliza sitting with bookshelf in background "
      />
    </div>
    <div class="page-intro-text">
      <p>
        We regularly run live webinars on Zoom for parents. They are recorded
        and available for 30 days if you choose the recorded ticket.
      </p>
      <p>
        We started these webinars because so many parents were getting in touch
        with Naomi asking for consultations or therapy and it was impossible for
        her to see them all. When she did see parents, she often ended up saying
        similar things and she thought that if we could put this into a webinar,
        then we could reach many more parents, whilst also being much more
        affordable and accessible.
      </p>
      <p>
        Our aim is to communicate useful psychological concepts and ideas in a
        way which empowers parents to help their children. Each webinar combines
        theory with practical ideas and examples. We am always writing new
        webinars and if you have something which you would particularly like to
        see covered, then please do get in touch.
      </p>
    </div>
  </div>

  <h2 class="section-title">Upcoming Webinars</h2>

  {webinars.map((webinar, index) => <WebinarSummary webinar={webinar} />)}
  <GenerateQuote client:load quotes={quotes} />
</BaseLayout>
