---
import { getTags } from "../scripts/tags";
import Tags from "./Tags.astro";
import { makeUrl } from "../scripts/url";
import { getImagePath } from "../scripts/url";

const { title, subtitle, paragraphs, imageFileName, url } = Astro.props;

const body = paragraphs.reduce((acc: string, curr: string) => acc + " " + curr);
const tags = getTags(title, subtitle, body);
---

<div class="card card-courses">
    <h2>
      <a href=`/blog/${makeUrl(title)}`>{title}</a>
    </h2>

    <img loading="lazy" src={`/images/blog/${imageFileName}`} alt=`Image for ${title}` />

    <div class="card-details">
      <a href="#" class="card-type-course"> BLOG </a>
      <span> {subtitle} </span>
    </div>

    <p>
      {paragraphs[0]}
    </p>

    <div class="card-meta">
      <span class="contributors">
        Dr Naomi Fisher
      </span>

      <Tags tags = {tags}/>

    </div>

    <div class="card-buttons">
      <a href="#"> Learn More </a>
      <a href="#"> Purchase </a>
    </div>
  </div>