---
import { makeUrl, getImagePath } from "../scripts/url";
import Contributers from "./Contributers.astro";
import Tags from "./Tags.astro";

const { title, summary, price, checkoutURL, imageFileName, people, tags } = Astro.props;
---

<div class="card card-courses">
  <h2>
    <a href=`/courses/${makeUrl(title)}`>{title}</a>
  </h2>

  <img loading="lazy" src={`/images/courses/${imageFileName}`} alt=`Image for ${title}` />

  <div class="card-details">
    <a href="#" class="card-type-course"> RECORDED COURSE </a>
    <span> 2 HOURS, {price} </span>
  </div>

  <p>
    {summary}
  </p>

  <div class="card-meta">
    <Contributers people={people} />
    <Tags tags={tags} />
  </div>

  <div class="card-buttons">
    <a href=`/courses/${makeUrl(title)}`> Learn More </a>
    <a href={checkoutURL}> Purchase </a>
  </div>
</div>
