---
import { makeUrl, getImagePath } from "../scripts/url";
import Contributers from "./Contributers.astro";
import Tags from "./Tags.astro";
import {
  getProductForCourse,
  getImagePathForCourse,
} from "../scripts/products"

const { course } = Astro.props;

const price = course.price;
const checkoutURL = course.checkoutUrl;
const title = course.title;
const summary = course.description;
const people = course.people;
const tags = course.tags;

const product = getProductForCourse(course);
---

<div class="card card-courses">
  <h2>
    <a href=`/courses/${makeUrl(title)}`>{title}</a>
  </h2>

  <img
    loading="lazy"
    src={getImagePathForCourse(course)}
    alt=`Image for ${title}`
  />

  <div class="card-details">
    <a href="#" class="card-type-course"> RECORDED COURSE </a>
    <span> {product?.runningTime}, {price} </span>
  </div>

  <p>
    {summary}
  </p>

  <div class="card-meta">
    <Contributers people={people} />
    <Tags tags={product?.tags? product.tags : tags} />
  </div>

  <div class="card-buttons">
    <a href=`/courses/${makeUrl(title)}`> Learn More </a>
    <a href={checkoutURL}> Purchase </a>
  </div>
</div>
