---
import { coreTags, ageTags, forTags } from "../scripts/tags";
import { makeUrl } from "../scripts/url";
---

<script src="../scripts/filterMenu.js"></script>

<div class="filter-menu" id="filter-menu">
  <div class="filter-wrapper">
    <h3>Topics</h3>
    <div class="filter-link filter-tag">
      {coreTags.map((t) => <a href={`/tags/${makeUrl(t)}`}>{t}</a>)}
    </div>
    <h3>Topic Age Range</h3>
    <div class="filter-link filter-age">
      {ageTags.map((t) => <a href={`/tags/${makeUrl(t)}`}>{t}</a>)}
    </div>
    <h3>Audience</h3>
    <div class="filter-link filter-audience">
      {forTags.map((t) => <a href={`/tags/${makeUrl(t)}`}>{t}</a>)}
    </div>
  </div>
</div>
