---
import { topicTags, ageTags, forTags } from "../scripts/tags";
import { makeUrl } from "../scripts/url";
import "../styles/components/header-navigation/filter-menu.scss";
---

<script src="../scripts/filterMenu.js"></script>

<div class="filter-menu" id="filter-menu">
  <div class="filter-wrapper">
    <h3>Topics</h3>
    <div class="filter-link">
      {
        topicTags.map((t) => (
          <a class="filter-tags" href={`/tags/${makeUrl(t)}`}>
            {t}
          </a>
        ))
      }
    </div>
    <h3>Topic Age Range</h3>
    <div class="filter-link">
      {
        ageTags.map((t) => (
          <a class="filter-age" href={`/tags/${makeUrl(t)}`}>
            {t}
          </a>
        ))
      }
    </div>
    <h3>Audience</h3>
    <div class="filter-link">
      {
        forTags.map((t) => (
          <a class="filter-audience" href={`/tags/${makeUrl(t)}`}>
            {t}
          </a>
        ))
      }
    </div>
  </div>
</div>
