---
import { coreTags, ageTags, forTags } from "../scripts/tags";
import { makeUrl } from "../scripts/url";
---

<footer id="tag-menu">
  <div class="tag-footer-wrapper">
    <span></span>
    <div class="tag-footer">
      Topics {coreTags.map((t) => <a href={`/tags/${makeUrl(t)}`}>{t}</a>)}
    </div>

    <div class="tag-footer">
      Covers {ageTags.map((t) => <a href={`/tags/${makeUrl(t)}`}>{t}</a>)}
    </div>

    <div class="tag-footer">
      {forTags.map((t) => <a href={`/tags/${makeUrl(t)}`}>{t}</a>)}
    </div>
  </div>
  <div class="footer-primary">
    <img src="/images/circle-logo.png" alt="Naomi Fisher Logo" />
    <img src="/images/dr-naomi-fisher-logo-white.svg" alt="Dr Naomi Fisher" />
    <ul class="footer-menu footer-menu-A">
      <li>
        <a href="/webinars/">Webinars</a>
      </li>
      <li>
        <a href="/courses/">Courses</a>
      </li>
      <li>
        <a href="/books">Books</a>
      </li>
      <li>
        <a href="/consultation">Consultation</a>
      </li>
    </ul>

    <ul class="footer-menu footer-menu-B">
      <li>
        <a href="/training" target="_blank">Training</a>
      </li>

      <li>
        <a href="/blog" target="_blank">Blog</a>
      </li>

      <li>
        <a href="/about-us" target="_blank">About Us</a>
      </li>

      <li>
        <a href="/contact" target="_blank">Contact</a>
      </li>
    </ul>
    <div class="smallprint">
      <p>&copy; 2024 Naomi Fisher, all rights reserved.</p>
      <p>
        Naomi Fisher Psychology Limited is a company registered in England and
        Wales with company number 13351132.
      </p>
      <p>
        (Further small print - terms links etc)
        <p></p>
      </p>
    </div>
  </div>
</footer>
