---
import { coreTags, ageTags, forTags } from "../scripts/tags";
import { makeUrl } from "../scripts/url";

import Picture from "astro/components/Picture.astro";
import circleLogo from "../images/footer/circle-logo.png";
import whiteLogo from "../images/footer/dr-naomi-fisher-logo-white.svg";
---

<footer id="tag-menu">
  <div class="tag-footer-wrapper">
    <span></span>
    <div class="tag-footer">
      Topics {coreTags.map((t) => <a href={`/tags/${makeUrl(t)}`}>{t}</a>)}
    </div>

    <div class="tag-footer">
      Ages {ageTags.map((t) => <a href={`/tags/${makeUrl(t)}`}>{t}</a>)}
    </div>

    <div class="tag-footer">
      Audience {forTags.map((t) => <a href={`/tags/${makeUrl(t)}`}>{t}</a>)}
    </div>
  </div>
  <div class="footer-primary">

    <Picture
      src={circleLogo}
      widths={[240, 540, 720, circleLogo.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${circleLogo.width}px`}
      alt="Children looking through grass into the sun"
      pictureAttributes={{}}
    />

    <Picture
      src={whiteLogo}
      widths={[240, 540, 720, whiteLogo.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${whiteLogo.width}px`}
      alt="Dr Naomi Fisher"
      pictureAttributes={{}}
    />

    <ul class="footer-menu footer-menu-A">
      <li>
        <a href="/" target="_blank">Home</a>
      </li>
      <li>
        <a href="/webinars/">Webinars</a>
      </li>
      <li>
        <a href="/courses/">Courses</a>
      </li>
      <li>
        <a href="/books">Books</a>
      </li>
      <!-- <li>
        <a href="/consultation">Consultation</a>
      </li> -->
    </ul>

    <ul class="footer-menu footer-menu-B">
      <li>
        <a href="/training" target="_blank">Training</a>
      </li>

      <li>
        <a href="/blog" target="_blank">Blog</a>
      </li>

      <li>
        <a href="/about-us" target="_blank">About Us</a>
      </li>

      <li>
        <a href="/contact" target="_blank">Contact</a>
      </li>
    </ul>
    <div class="smallprint">
      <p>
        &copy; {new Date().getFullYear()} Naomi Fisher Psychology Ltd, all rights
        reserved.
      </p>
      <p>
        Naomi Fisher Psychology Ltd is a company registered in England and Wales
        with company number 13351132.
      </p>
      <p>
        (Further small print - terms links etc)
        <p></p>
      </p>
    </div>
  </div>
</footer>
