---
import Tags from "./Tags.astro";
import Contributers from "./Contributers.astro";

const {
  eventId,
  detailsText,
  title,
  subtitle,
  people,
  tags,
  start,
  end,
  tickets,
  checkoutURL,
  imageURL,
} = Astro.props;


const startDateTime = new Date(Date.parse(start));
const endDateTime = new Date(Date.parse(end));

const displayDay = { day: "numeric" };
const displayMonth = { month: "short" };
const displayTime = { hour: "numeric", minute: "numeric" };

const day = startDateTime.toLocaleString(undefined, displayDay);
const month = startDateTime.toLocaleString(undefined, displayMonth);
const startTime = startDateTime.toLocaleString(undefined, displayTime);
const endTime = endDateTime.toLocaleString(undefined, displayTime);
---

<div class="card card-webinar">
  <!-- Tix: {JSON.stringify(tix)}<br /> -->
  <div class="live-date">
    <span class="live-day"> {day} </span>
    <span class="live-month"> {month} </span>
  </div>

  <h2>
    <a href="#">{title}</a>
  </h2>

  <img loading="lazy" src={imageURL} alt="" />

  <div class="card-details">
    <a href="#" class="card-type-course"> LIVE WEBINAR </a>
    <span>
      From {tickets[0].cost} + booking fee
    </span>
  </div>

  <p>
    {subtitle}
  </p>

  <p set:html={detailsText}>
  </p>

  <div class="card-meta">
    <span class="tags">
      {`${day} ${month} ${startTime} - ${endTime}`}
    </span>

    <Contributers people={people} />

    <Tags tags={tags} />
  </div>

  <!-- <div class="card-buttons">
    <a href="#"> Learn More </a>
    <a href={`${checkoutURL}?aff=web`}> Tickets </a>
  </div> -->
</div>

<div>
  <button id="example-widget-trigger" type="button">Buy Tickets</button>

  <script is:inline src="/scripts/eb.js"></script>

  <div id="example-widget-trigger"></div>

  <script type="text/javascript" define:vars={{ eventId }}>
    var exampleCallback = function () {
      console.log("Order complete!");
    };

    window.EBWidgets.createWidget({
      widgetType: "checkout",
      eventId: eventId,
      iframeContainerId: "example-widget-trigger",
      iframeContainerHeight: 425,
      onOrderComplete: exampleCallback,
    });
  </script>
</div>
