---
import Tags from "../Tags.astro";
import { makeUrl } from "../../scripts/url";
import BlogImage from "./BlogImage.astro";
import '../../styles/components/card.scss';

const { post, hideDate = false } = Astro.props;

const title = post.title;
const subtitle = post.subtitle;
const pubDate = post.pubDate;
const paragraphs = post.paragraphs;
const tags = post.tags;
const introText =
  paragraphs[0].length > 100
    ? paragraphs[0]
    : paragraphs[0] + paragraphs[1] > 100
      ? paragraphs[0] + " " + paragraphs[1]
      : paragraphs[0] + " " + paragraphs[1] + " " + paragraphs[2];
---

<div class="card card-blog">

  {
    !hideDate && (
      <div class="live-date">
        <span class="live-day">{pubDate.day}</span>
        <span class="live-month">{pubDate.month}</span>
      </div>
    )}

  <h2>
    <a href=`/blog/${makeUrl(title)}`>{title}</a>
    {subtitle && <span>{subtitle}</span>}
  </h2>

  {
    post.imagePrefix && (
      <div class="card-image">
        <BlogImage post={post} alt={`Image for ${title}`} />
      </div>
    )
  }

  <div class="card-details">

    {
      !hideDate && (
        <a href="/blog/"> BLOG POST </a>

        <span class="date">
          {pubDate.day}
          {pubDate.month}
          {pubDate.year}
        </span>
      )
    }

  </div>

  <p>
    {introText}
  </p>

  <div class="card-meta">
    <Tags tags={tags} />
  </div>

  <div class="card-buttons">
    <a href=`/blog/${makeUrl(title)}`> Read More</a>
  </div>
</div>
<style>
   h2 {
    border-color: var(--blog-color);
    padding-right: 60px;
  }
      @media (min-width: 1200px) {
     h2 {
      min-height: 88px;
    }
    a {
      color:  var(--blog-color)
    }
  }
</style>
