---
import Tags from "../Tags.astro";
import { makeUrl } from "../../scripts/url";

const { post } = Astro.props;

const imageFileName = post.imageFileName;
const url = post.url;
const title = post.title;
const subtitle = post.subtitle;
const pubDate = post.pubDate;
const paragraphs = post.paragraphs;
const tags = post.tags;

const body = paragraphs.reduce((acc: string, curr: string) => acc + " " + curr);
---

<div class="details details-blog">
  <div class="live-date">
    <span class="live-day">{pubDate.day}</span>
    <span class="live-month">{pubDate.month}</span>
  </div>

  <div class="details-category">BLOG</div>
  <h1>
    {title}
    <span> {subtitle} </span>
  </h1>
  <!-- <div class="details-image">
    <img
      srcset="imgs/example-image-620.jpg 620w, imgs/example-image-1016.jpg 1016w, imgs/example-image-2176.jpg 2176w"
      sizes="(min-width: 1185px) 1088px, (min-width: 780px) 754px, 100vw"
      src="imgs/example-image-620.jpg"
      alt="an image description for the visually impaired, also helps SEO"
      loading="lazy"
    />
  </div> -->

  {post.images[0] && <img loading="lazy" src={post.images[0]} alt={title} />}

  <div class="details-body">
    <div class="details-body-A">
      <p>
        {body}
      </p>
    </div>

    <div class="details-body-B"></div>
  </div>

  <div class="card-meta details-meta">
    <span class="contributors"> Dr Naomi Fisher </span>
    <Tags tags={tags} />
  </div>
</div>