---
import Tags from "../Tags.astro";
import BlogImage from "./BlogImage.astro";

const { post } = Astro.props;

const title = post.title;
const subtitle = post.subtitle;
const pubDate = post.pubDate;
const paragraphs = post.paragraphs;
const tags = post.tags;

const body = paragraphs.reduce((acc: string, curr: string) => acc + " " + curr);
---

<div class="details details-blog">
  <div class="live-date">
    <span class="live-day">{pubDate.day}</span>
    <span class="live-month">{pubDate.month}</span>
  </div>

  <div class="details-category">BLOG</div>
  <h1>
    {title}
    <span> {subtitle} </span>
  </h1>

  {
    post.imagePrefix && (
      <div class="details-image">
        <BlogImage post={post} alt={`Image for ${title}`} />
      </div>
    )
  }

  <div class="details-body">
    <div class="details-body-A">
      <p>
        {body}
      </p>
    </div>

    <div class="details-body-B">
      <div class="purchase-wrapper">
        <div class="purchase-title">
          <div class="purchase-title-primary purchase-title-courses">
            RELATED COURSES
          </div>
        </div>
        <a
          href="https://www.psychologicaltherapybooks.co.uk/product/changing-our-minds-how-children-can-take-control-of-their-own-learning-2/"
          target="blank"
          class="test"
        >
          <div class="purchase">
            <div class="company">Helping Your Autistic Child with Trauma</div>
            <div class="buy-now">
              <span> View </span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="card-meta">
    <Tags tags={tags} />
  </div>
</div>
