---
import Tags from "../Tags.astro";
import BlogImage from "./BlogImage.astro";
import { getTaggedCourses } from "../../scripts/getTaggedResources";
import getCourses from "../../scripts/courses";
import { makeUrl } from "../../scripts/url";
import { getTags } from "../../scripts/tags";

const { post } = Astro.props;

const title = post.title;
const subtitle = post.subtitle;
const pubDate = post.pubDate;
const paragraphs = post.paragraphs;

const tags = getTags(title, subtitle, paragraphs.join(' '));

const courses = await getCourses();
const relatedCourses = getTaggedCourses(courses, [tags[0]]);

---

<div class="details details-blog">
  <div class="live-date">
    <span class="live-day">{pubDate.day}</span>
    <span class="live-month">{pubDate.month}</span>
  </div>

  <div class="details-category">BLOG</div>
  <h1>
    {title}
    <span> {subtitle} </span>
  </h1>

  {
    post.imagePrefix && (
      <div class="details-image">
        <BlogImage post={post} alt={`Image for ${title}`} />
      </div>
    )
  }

  <div class="details-body">
    <div class="details-body-A">
      {paragraphs.map((p, i) => <p>{paragraphs[i]}</p>)}
    </div>

    <div class="details-body-B">
      <div class="purchase-wrapper">
        <div class="purchase-title">
          <div class="purchase-title-primary purchase-title-courses">
            RELATED COURSES
          </div>
        </div>
        {
          relatedCourses.map((course) => (
            <a href={`/courses/${makeUrl(course.data.title)}`}>
              <div class="purchase">
                <div class="company">{course.data.title}</div>
                <div class="buy-now">
                  <span> View </span>
                </div>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </div>

  <div class="card-meta">
    <Tags tags={tags} />
  </div>
</div>
