---
import Tags from "../Tags.astro";
import BlogImage from "./BlogImage.astro";
import { getTaggedCourses } from "../../scripts/getTaggedResources";
import getCourses from "../../scripts/courses";
import { makeUrl } from "../../scripts/url";
import { getTags } from "../../scripts/tags";

const { post } = Astro.props;

const title = post.title;
const subtitle = post.subtitle;
const pubDate = post.pubDate;
const paragraphs = post.paragraphs;

const tags = getTags(title, subtitle, paragraphs.join(" "));

const courses = await getCourses();

// Filter out nulls or elements with no data or title
// This can happen if there is an entry in courseMeta but not from Kajabi
const relatedCourses = getTaggedCourses(courses, [tags[0]]).filter(
  (c) => c?.data?.title,
);

// console.log("RELATED: " + JSON.stringify(relatedCourses));
---

<style is:global>
  /* Target the specific accordion in the related courses section */
  .details-body-B .accordion-wrapper .accordion.no-title-accordion {
    border-top: none !important;
  }
</style>

<div class="details details-blog">
  <!--<div class="live-date">-->
  <!--  <span class="live-day">{pubDate.day}</span>-->
  <!--  <span class="live-month">{pubDate.month}</span>-->
  <!--</div>-->

  <div class="details-category">ARTICLE</div>
  <h1>
    {title}
    <span> {subtitle} </span>
  </h1>

  {
    post.imagePrefix && (
      <div class="details-image">
        <BlogImage post={post} alt={`Image for ${title}`} />
      </div>
    )
  }

  <div class="details-body">
    <div class="details-body-A">
      {paragraphs.map((p, i) => <p>{paragraphs[i]}</p>)}
    </div>

    {
      relatedCourses.length > 0 && (
        <div class="details-body-B">
          <div class="purchase-wrapper">
            <div class="purchase-title">
              <div class="purchase-title-primary purchase-title-courses">
                RELATED COURSE
              </div>
            </div>

            {relatedCourses.slice(0, 1).map((course) => (
              <a href={`/courses/${makeUrl(course.data.title)}`}>
                <div class="purchase">
                  <div class="company">{course.data.title}</div>
                  <div class="buy-now">
                    <span> View </span>
                  </div>
                </div>
              </a>
            ))}

            <div class="accordion-wrapper">
              <button class="accordion no-title-accordion">See More</button>
              <div class="panel">
                {relatedCourses.slice(1, 6).map((course) => (
                  <a href={`/courses/${makeUrl(course.data.title)}`}>
                    <div class="purchase">
                      <div class="company">{course.data.title}</div>
                      <div class="buy-now">
                        <span> View </span>
                      </div>
                    </div>
                  </a>
                ))}
              </div>
            </div>
          </div>
        </div>
      )
    }
  </div>

  <div class="card-metaBeta">
    <Tags tags={tags} />
  </div>
</div>
