---
import Tags from "../Tags.astro";
import BlogImage from "./BlogImage.astro";

const { post } = Astro.props;

const imageFileName = post.imageFileName;
const url = post.url;
const title = post.title;
const subtitle = post.subtitle;
const pubDate = post.pubDate;
const paragraphs = post.paragraphs;
const tags = post.tags;

const body = paragraphs.reduce((acc: string, curr: string) => acc + " " + curr);
---

<div class="details details-blog">
  <div class="live-date">
    <span class="live-day">{pubDate.day}</span>
    <span class="live-month">{pubDate.month}</span>
  </div>

  <div class="details-category">BLOG</div>
  <h1>
    {title}
    <span> {subtitle} </span>
  </h1>

  {
    post.imagePrefix && (
      <div class="details-image">
        <div class="card-image">
          <BlogImage post={post} alt={`Image for ${title}`} />
        </div>
      </div>
    )
  }

  <div class="details-body">
    <div class="details-body-A">
      <p>
        {body}
      </p>
    </div>

    <div class="details-body-B"></div>
  </div>

  <div class="card-meta details-meta">
    <span class="contributors"> Dr Naomi Fisher </span>
    <Tags tags={tags} />
  </div>
</div>
