---
const { book } = Astro.props;

import BookImage from "./BookImage.astro";
import Contributers from "../Contributers.astro";
import Tags from "../Tags.astro";
import { getFormats } from "../../scripts/book";

const format = function (input: string): string {
  var pattern = /(\d{4})\-(\d{2})\-(\d{2})/;
  if (!input || !input.match(pattern)) {
    return "";
  }
  return input.replace(pattern, "$3/$2/$1");
};
---

<div class="card card-books">
  <h2>
    <a href={book.uri}>{book.title}</a>
    <span>{book.subtitle} </span>
  </h2>

  <!-- <div class="card-image">
    <img
      srcset="imgs/example-book-cover-620.jpg 620w, imgs/example-book-cover-1016.jpg 1016w, imgs/example-book-cover-2176.jpg 2176w"
      sizes="(min-width: 1185px) 508px, (min-width: 780px) 728px, 100vw"
      src="imgs/example-book-cover-620.jpg"
      alt="an image description for the visually impaired, also helps SEO"
      loading="lazy"
    />
  </div> -->

  <div class="card card-books">
    <BookImage book={book} />
    </div>

    <div class="card-details">
      <a href={book.uri}> BOOK </a>
      <span class="bookmark"> {getFormats(book).join(", ")} </span>
      <span class="date"> Published on {format(book.pubDate)} </span>
    </div>

    {book.description && <p>{book.description}</p>}

    <p>
      {book.summary}
    </p>

    <div class="card-meta">
      <Contributers people={book.people} />
      <Tags tags={book.tags} />
    </div>

    <div class="card-buttons">
      <a href={book.uri}> Learn More </a>
      <a href={book.amazonUrl} class="amazon-link" target="_blank">
        Purchase
      </a>
    </div>
  </div>
</div>
