---
const { book } = Astro.props;

import BookImage from "./BookImage.astro";
import Contributers from "../Contributers.astro";
import Tags from "../Tags.astro";
import { getFormats, getPubDate, getPubDateString } from "../../scripts/book";
import "../../styles/components/card.scss";
---

<div class="cardBeta card-books">
  {
    getPubDate(book) > new Date() && (
      <div class="sale-badge preorder-badge">
        <span class="sale-amount">PRE-</span>
        <span class="sale-text">order</span>
      </div>
    )
  }

  <h2>
    <a href={book.uri}>{book.title}</a>
    <span>{book.subtitle} </span>
  </h2>

  <div class="card-imageBeta">
    <BookImage book={book} />
  </div>

  <div class="card-detailsBeta">
    <a href={book.uri}> BOOK </a>
    <span class="bookmark"> {getFormats(book).join(", ")} </span>
    <span class="date"> Published on {getPubDateString(book)} </span>
  </div>

  {book.description && <p>{book.description}</p>}

  <p>
    {book.summary}
  </p>

  <div class="card-meta">
    <Contributers people={book.people} />
    <Tags tags={book.tags} />
  </div>

  <div class="card-buttonsBeta">
    <a href={book.uri}> Learn More </a>
    <!--<a href={book.amazonUrl} class="amazon-link" target="_blank"> Purchase </a>-->
  </div>
</div>
<style>
  h2 {
    border-color: var(--books-color);
    padding-right: 60px;
  }
  .card-detailsBeta > a {
    color: #var(--books-color);
  }
  @media (min-width: 1200px) {
    .card-books h2 {
      min-height: 88px;
    }
  }
</style>
