---
const { frontmatter: book } = Astro.props;
import BookImage from "./BookImage.astro";
import { getEntry } from "astro:content";
import GenerateQuote from "../Quoter";
import { getPubDate, getPubDateString } from "../../scripts/book";

const entryName = book.uri.replace("/books/", "");

const bookAgain = await getEntry("books", entryName);
const moreInfo = await getEntry("books-more-info", entryName);
const excerpt = await getEntry("book-excerpts", entryName);

const quotes = await getEntry("book-quotes", entryName);
const reviews = await getEntry("book-reviews", entryName);
//console.log("REVIEWS: " + JSON.stringify(reviews));

// console.log("QUOTES: " + JSON.stringify(quotes));

const { Content: BookContent, headings: bookHeadings } =
  await bookAgain.render();

const { Content: MoreInfoContent, headings: moreInfoHeadings } =
  await moreInfo.render();

const { Content: ExcerptContent, headings: excerptHeadings } =
  await excerpt?.render();
---

<script src="../../scripts/accordion.js"></script>

<div class="details details-books">
  <div class="details-category">BOOK</div>
  {
    getPubDate(book) > new Date() && (
      <div class="sale-badge preorder-badge">
        <span class="sale-amount">PRE-</span>
        <span class="sale-text">order</span>
      </div>
    )
  }
  <h1>
    {book.title}
    <span> {book.subtitle} </span>
  </h1>
  <div class="details-image">
    <BookImage book={book} />
  </div>

  <div class="details-body">
    <div class="details-body-A">
      <BookContent />

      {moreInfo?.body.length > 1 && 
      <button class="accordion">Read more</button>
      <div class="panel">
        <MoreInfoContent/>
      </div>
      }
<!-- 
      <Vimeo embedUrl={book.vimeoEmbedUrl} /> -->

      <GenerateQuote client:load quotes={quotes.data} />

      <h3>Further Information</h3>
      <div class="accordion-wrapper">
        <button class="accordion">Table of Contents</button>
        <div class="panel">
          <ol>
            {book.toc.map((item) => <li>{item}</li>)}
          </ol>
        </div>
        <button class="accordion">Reviews</button>
        <div class="panel">
          {
            reviews.data.map((review) => (
              <p>
                {review.text} 
                <p>{review.author}</p>
                <hr/>
              </p>
            ))
          }
        </div>

        {
          book.hasAudiobookSample && (
            <>
              <button class="accordion">Audiobook Sample</button>
              <div class="panel">
                <audio
                  id="audio"
                  src={`/audio/books/${entryName}.mp3`}
                  controls
                />
              </div>
            </>
          )
        }

         {
          book.excerptUrl && (
            <>
              <a
                class="mock-accordion"
                href={book.excerptUrl}
                target="_blank"
              >
                Read Sample
              </a>
            </>
          )
        }

        {
          excerpt?.body && (
            <>
              <button class="accordion">Read Excerpt</button>
              <div class="panel">
                <ExcerptContent />
                {book.excerptUrl && (
                  <iframe
                    id="theFrame"
                    src={book.excerptUrl}
                    style="height: 500px; width:100%;"
                    frameborder="0"
                  />
                )}
              </div>
            </>
          )
        }
      </div>

    </div>

    <div class="details-body-B">
      <div class="purchase-wrapper">
        <div class="purchase-title">
          <div class="purchase-title-primary purchase-title-paperback">
            PAPERBACK
          </div>
          <div class="purchase-title-secondary">
            Published on {getPubDateString(book)} by {book.publisher}, {
              book.pages
            } pages
          </div>
        </div>

        {
          book.psychologicalTherapiesUrl && (
            <a
              href={book.psychologicalTherapiesUrl}
              target="blank"
              class="test"
            >
              <div class="purchase">
                <div class="price">{book.psychologicalTherapiesPrice}</div>
                <div class="company">Psychological Therapy Books</div>
              </div>
            </a>
          )
        }

        {
          book.amazonUrl && (
            <a href={book.amazonUrl} target="blank" class="test">
              <div class="purchase">
                <div class="price">{book.amazonPrice}</div>
                <div class="company amazon" />
              </div>
            </a>
          )
        }

        {
          book.blackwellUrl && (
            <a href={book.blackwellUrl} target="blank" class="test">
              <div class="purchase">
                <div class="price">{book.blackwellPrice}</div>
                <div class="company blackwells" />{" "}
              </div>
            </a>
          )
        }

        {
          book.waterstonesUrl && (
            <a href={book.waterstonesUrl} target="blank" class="test">
              <div class="purchase">
                <div class="price">{book.waterstonesPrice}</div>
                <div class="company waterstones" />{" "}
              </div>
            </a>
          )
        }
      </div>

      {
        (book.kindleUrl ||
          book.googleUrl ||
          book.appleBooksUrl) && (
          <>
            <div class="purchase-wrapper">
              <div class="purchase-title">
                <div class="purchase-title-primary purchase-title-eBook">
                  E-BOOK
                </div>
                <div class="purchase-title-secondary">
          
                </div>
              </div>

              {book.kindleUrl && (
                <a href={book.kindleUrl} target="blank">
                  <div class="purchase">
                    <div class="price">{book.kindlePrice}</div>
                    <div class="company kindle" />
                  </div>
                </a>
              )}

              {book.googleUrl && (
                <a href={book.googleUrl} target="blank">
                  <div class="purchase">
                    <div class="price">{book.googlePrice}</div>
                    <div class="company google-books" />
                  </div>
                </a>
              )}

              {book.appleBooksUrl && (
                <a href={book.appleBooksUrl} target="blank">
                  <div class="purchase">
                    <div class="price">{book.appleBooksPrice}</div>
                    <div class="company apple-books" />
                  </div>
                </a>
              )}
            </div>
          </>
        )
      }

      {
        book.audiobookLength && (
          <div class="purchase-wrapper">
            <div class="purchase-title">
              <div class="purchase-title-primary purchase-title-audiobook">
                AUDIOBOOK
              </div>
              <div class="purchase-title-secondary">
                Running Time: {book.audiobookLength}
              </div>
            </div>

            {book.audibleUrl && (
              <a href={book.audibleUrl} target="blank">
                <div class="purchase">
                  <div class="price">{book.audiblePrice}</div>
                  <div class="company audible" />
                </div>
              </a>
            )}

            {book.koboAudiobookUrl && (
              <a href={book.koboAudiobookUrl} target="blank">
                <div class="purchase">
                  <div class="price">{book.koboAudiobookPrice}</div>
                  <div class="company kobo" />
                </div>
              </a>
            )}

            {/* {book.xigxagAudiobookUrl && (
              <a href={book.xigxagAudiobookUrl} target="blank">
                <div class="purchase">
                  <div class="price">{book.xigxagAudiobookPrice}</div>
                  <div class="company xigxag" />
                </div>
              </a>
            )} */}
          </div>
        )
      }

            <p>
        <em> Please note that retailer prices are subject to fluctuations. </em>
      </p>

    </div>
  </div>
</div>
